<style>
<head>
header {
  background-color: #208;
  padding: 30px;
  text-align: center;
  font-size: 35px;  
  color: black;
}
</style>
</head>
<body>
<div class = "col-75">
background-color: white;
top-margin: 10px;
	right-margin: 10px;
	bottom-margin: 10px;
	left-margin: 10px;
</body>
